/*------header-----*/
header {
  margin-bottom: 80px;
}

.manu {
  color: #224259;
}

.get-in {
  background-color: #5693bf;
  width: 176px;
  padding: 20px 32px;
  border-radius: 12px;

}

.get-in a {
  text-decoration: none;
  color: #fff;
}

.banner-text {
  padding: 100px 0 48px 0;
}

.brand {
  width: 140px;
  height: 103px;
  background-color: #54BE72;
  border-radius: 51.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.your-brand h1 {

  font-family: 'Varent Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 120px;
  line-height: 110%;
  color: #224259;

}

.digital {
  width: 334px;
  height: 103px;
  background: #F17999;
  border-radius: 55.5px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.digital a {
  width: 222px;
  height: 42px;
  font-family: 'Varent Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  text-decoration: none;
}

.brand-text {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.work-form {
  width: 439px;
  height: 103px;
  border-radius: 55.5px;
  background-color: #FAC252;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-link a {
  width: 286px;
  height: 42px;
  font-family: 'Varent Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #FFFFFF;
  text-decoration: none;
}

.work {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-img {
  margin-top: 48px;
  margin-bottom: 160px;
}

/*-----our-services---*/
.our-services {
  background-color: #E5EEF5;
  color: #224259;
  padding: 136px 136px;

}

.services-text {
  padding-bottom: 72px;
}

.services-text h3 {
  font-family: 'Varent Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;

}

.services-text p {
  max-width: 600px;
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;

}

.services-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-wrapper h3 {
  font-family: 'Varent Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  padding-top: 32px;
}

.slider-wrapper p {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding-top: 16px;

}

/*-----counter-------*/
.counter-box {
  padding: 160px 0;
}

.counter-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter-text h4 {
  font-family: 'Varent Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #224259;
}

.counter-text p {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #224259;
}

/*-------our-story-------*/
.our-story-img {
  background-color: #F17999;
  border-radius: 260px 260px 8px 8px;
  box-sizing: border-box;
}

.our-story-img img {
  padding-top: 25px;
}

.our-story-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.our-story-text div {
  padding-left: 15px;
}

.our-story-text h4 {
  font-family: 'Varent Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  color: #fff;
}

.our-story-text p {
  max-width: 169px;
  font-family: 'Varent Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
}

.text-section h3 {
  max-width: 599px;
  font-family: 'Varent Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  color: #224259;
}

.text-section p {
  max-width: 600px;
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 400px;
  font-size: 20px;
  color: #224259;
  padding-top: 8px;
}

.text-section ul li a {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  color: #224259;
}

.text-section ul li img {
  padding-right: 10px;
}

.text-section ul {
  padding-top: 40px;
  list-style: none;

}

.our-about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;

}

.our-about div {
  padding-left: 30px;
  color: #224259;
}

.our-about h4 {
  font-family: 'Varent Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
}

/*-------latest-------*/
.lastest {
  padding: 160px 0;
}

.button-touch {
  background: #5693BF;
  border-radius: 12px;
  width: 176px;
  height: 72px;
  padding: 20px 32px;
  color: #fff;
}

.tastest-text h3 {
  font-family: 'Varent Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  color: #224259;
}

.tastest-text p {
  max-width: 600px;
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #224259;
  padding: 0 0 72px 0;
}

.solution p {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  padding-top: 32px;
  color: #224259;
}

.solution h4 {
  font-family: 'Varent Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #224259;
}

/*-----testimonial-------*/
.card-box {
  max-width: 304px;
  background: #E5EEF5;
  border-radius: 24px;
  margin-bottom: 30px;
  color: #224259;

}

.card-box:hover {
  background-color: #5693bf;
  color: #fff;
}

.John-Wyatt div {
  padding-left: 10px;
}

.John-Wyatt {
  padding-top: 33px;
}

.John-Wyatt h5 {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
}

.John-Wyatt p {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.card-text {
  padding-left: 32px;
}

.card-text h6 {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  padding-bottom: 16px;

}

.testimonial {
  background: #FFD6E1;
  border-radius: 8px;
  color: #224259;
  margin-bottom: 160px;
}

.testimonial h3 {
  font-family: 'Varent Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  padding-top: 48px;

}

.testimonial p {
  max-width: 400px;
  margin: 0 auto;
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  padding-top: 8px;
  padding-left: 48px;

}

.testimonial-img {
  background-image: url(img/Group6668.png);
  background-repeat: no-repeat;
  background-position: center center;
}

/*--newsletter-section--*/
.news-section {
  background-image: url(img/ne-bg.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 120px 0;
}

.news-text h4 {
  font-family: 'Varent Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  color: #224259;

}

.news-text p {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #224259;
  max-width: 600px;
}


.button-box {
  width: 72px;
  height: 72px;
  background: #5693BF;
  border-radius: 12px;

}

.check-box {
  padding-top: 32px;
}

.email-bg {
  background-image: url(img/Neolatte.png);
  background-repeat: no-repeat;
  background-position: right bottom;

}

/*---blog-section---*/
.blog {
  padding: 160px 0;
}

.blog-box {
  padding-bottom: 72px;
}

.blog-box h5 {
  font-family: 'Varent Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  color: #224259;

}

.blog-box p {
  max-width: 600px;
  margin: 0 auto;
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #224259;
}

.blog-news h5 {
  font-family: 'Varent Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
}

.blog-news a {
  text-decoration: none;
  color: #224259;
}

.date-box {
  padding-top: 24px;
  padding-bottom: 24px;
  color: #224259;
}

/*------want-section------*/
.want {
  margin-bottom: 136px;
}

.want-section {
  background: #5693BF;
  color: #fff;
  border-radius: 0 0 24px 0;
  padding-bottom: 96px;
}

.pl-91 {
  padding-left: 91px;
}

.want-section h6 {
  font-family: 'Varent Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  padding-top: 96px;
}

.want-section p {
  max-width: 500px;
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.want-section button {
  width: 164px;
  height: 72px;
  padding: 20px 32px;
  border-radius: 12px;
  background-color: #fff;
  color: #224259;
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 500;
}

.join-section {
  background: #F17999;
  color: #fff;
  border-radius: 0 0 0 24px;
}

.join-section h6 {
  font-family: 'Varent Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  padding-top: 96px;
}

.join-section p {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.join-section button {
  width: 161px;
  height: 72px;
  padding: 20px 32px;
  border-radius: 12px;
  background-color: #fff;
  color: #224259;
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 500;

}

/*-----footer-section-----*/
.read-to {
  max-width: 468px;
  font-family: 'Varent Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  padding-top: 44px;
  color: #224259;
}

.logo-text {
  font-family: 'Varent Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  padding-top: 44px;
  color: #F17999;
}

.get-link a {
  display: inline-block;
  color: #F17999;
  text-decoration: underline;
}

.sitemap a {
  font-style: 30px bold;
  font-family: 'varent Groesk';
  font-size: 30px;
  text-decoration: none;
  color: #224259;
}

.email-link a {
  font-family: --p-font-weight-regular;
  font-family: SF UI Display;
  font-size: 20px;
  text-decoration: none;
  color: #224259;
}